{% extends 'base.html' %}

{% block title %} Honey {% endblock %}

{% block body %}
<h2 align="center">Add a new charge Honey</h2>
<div class="container">
    <!-- Content here -->
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="honey type" aria-label="Honeytype"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="reservoir kind" aria-label="reservoir kind"
            aria-describedby="basic-addon2">

    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">kg</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

    </div>

    <button type="button" class="btn btn-outline-success">Submit</button>
</div>

<hr>
<div class="container-fluid">
    <h2 align="center">Honey-Stock</h2>
</div>
{% endblock %}